:root{
    --pr-color0:#198754;
    --pr-color1:#2f9365;
    --pr-color2:#469f76;
    --pr-color3:#5eab87;
    --pr-color4:#75b798;
    --pr-color5:#8cc3a9;
    --pr-color6:#a3cfba;
    --pr-color7:#badbcb;
    --pr-color8:#d1e7dc;
    --pr-color9:#e8f3ed;

}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--pr-color9);
}
/*navbar*/
.navbar-brand{
    font-weight: 400;
    font-size: 15px; 
    display: flex;
}
.brand-nama{
    padding-top: 10px;
}
.navbar-link{
    color: var(--pr-color9);
}
.navbar{
    background-color: var(--pr-color1);
    padding:0.1rem 7%;
}
 h2{
    font-size: 20px;
    font-weight: 700;
    color: var(--pr-color9);
    text-transform: uppercase;
}
 p {
    font-size: 7px;
    font-weight: 400;
    color:var(--pr-color5);
    text-transform: uppercase;
}
.container-breadcrumb{
    background-color: var(--pr-color3);
    width: auto;
}
.breadcrumb i,li{
    color: var(--pr-color9);
}
/*slider*/
.carousel{
    color: #000;
}
 
.carousel-item img {
    height: auto;
    
}
.kiri{
    top: 6rem;
}

/*pengumuman*/
.card {
    flex-direction: row;
    border: 0;
    background-color: var(--pr-color2);
    color: var(--pr-color9);
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-diri{
    background-color: var(--pr-color5);
}
.card-body-diri p{
    padding-left: 5px;
    background-color: var(--pr-color0);
    color: var(--pr-color9);
}
.card-title-diri{
    background-color: var(--pr-color0);
    color: var(--pr-color9);
    font-size: 15px;   
}
.card-text-diri p{
    font-size: 5px;
}
.card-diri-2{
    background-color: var(--pr-color0);
}
.text-section {
    max-width: 60%;
}
.card-title{
    font-weight: 700;
    font-size: 28px;
}

.card-text {
    letter-spacing: 0.1em;
    font-weight: 400;
    font-size: 18px;
}
.link a{
    color: var(--pr-color);
    text-decoration: none;
} 
/*isi*/
.judul a{
    color: var(--pr-color1);
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
}
.judul p{
    font-size: 15px;
}
.judul h1{
    color: var(--pr-color1);
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
}
.card-header{
    background-color: var(--pr-color);
    color: #fff
}
.card-header a{
    color: var(--pr-coloe);
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;

}

.list-unstyled{
    color: var(--pr-color);
}

.text-section h1{
    font-size: 10px;

}
.map-container-4{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
.map-container-4 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
.footers-info{
    background-color: var(--pr-color2);
    flex-direction: row;
    border: 0;
    border-radius: 10px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.footers-info p{
    color: #fff;
}
footer{
    background-color: var(--pr-color1);
    color: #fff;
    text-decoration: none;
}
footer p{
    color: #fff;
}
.table-bar{
    background-color: var(--pr-color0);
    color: #fff;
    text-align: center;
}
.table-isi{
    color: var(--pr-color3);
    text-align: center;
    font-size: 13px;
}
.akhir{
    background-color: var(--pr-color1);
    color: #fff;
}
.carousel-inner{
    background-color: var(--pr-color7);
    padding-top: 10px;
}
.carousel-caption h6{
    font-size: 20px;
    color: var(--pr-color1);
    font-weight: 700;
}
.carousel-caption p{
    font-size: 10px;
    color: var(--pr-color2);
    font-weight: 500;
}
.list-unstyled i,a{
    color: var(--pr-color5);
    text-decoration: none;
}
.kontak h1{
    color: var(--pr-color1);
    font-weight: 700;
    font-size: 30px;
}
.Detail p,h3{
    color: var(--pr-color1);
    font-size: 10px;
}
.Detail a{
    font-size: 10px;
}